{% extends "./base.html" %}
{% comment %} {% load media %} {% endcomment %}
{% block start %}
        <div class="container  mt-5">

        <form class="col-6 mx-auto card p-3 shadow-lg" {%if recipe%}action="{% url 'update_recipe' recipe.id %}"{% endif %} method="post" enctype="multipart/form-data">

          {% csrf_token %}
          <h2>Add Recipe</h2>
          <hr>
          <div class="form-group" >
            <label for="exampleInputEmail1" >Recipe Name</label>
            <input name="recipe_name" value="{{recipe.recipe_name}}" class="form-control" placeholder="Enter Name" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1" >Recipe Description</label>
            <textarea name="recipe_description" class="form-control" id="exampleFormControlTextarea1" rows="3" required>{%if recipe.recipe_description%}{{recipe.recipe_description}}{% endif %}
            </textarea>
          </div>
          
          {{recipe.recipe_image}}
          <div class="form-group">
            <label for="exampleFormControlFile1">Add Recipe Picture</label>
            <input name="recipe_image" required type="file" class="form-control-file" id="exampleFormControlFile1" required>
          </div>
          <button type="submit" class="btn btn-primary">Add Recipe</button>
        </form>

        </div>
        <br>
        <br>
          {% comment %} {{recipes}} {% endcomment %}
      <div >
      <table class="table table-bordered table-dark w-100">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Recipe Name</th>
              <th scope="col">Description</th>
              <th scope="col">Image</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for recipe in recipes %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{recipe.recipe_name}}</td>
              <td>{{recipe.recipe_description}}</td>
              <td>
                <img src="{{ recipe.recipe_image.url }}" alt="{{ recipe.recipe_name }}" style="height:80px">
              </td>
              <td>
                <div>
                <a  href="{% url 'update_recipe' recipe.id %}" name="Update" class="btn btn-success">Update</a>
                </div>
                <br>
              <div>
                <a  href="{% url 'delete_recipe' recipe.id %}"  class="btn btn-danger">Delete</a>
                {% comment %} <a  href="/vege/delete_recipe/{{recipe.id}}"  class="btn btn-danger">Delete</a> {% endcomment %}
              </div>
              </td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
        
{% endblock %}